@import url('https://fonts.googleapis.com/css?family=Livvic|Montserrat|Raleway|Titillium+Web&display=swap');

body {
  background-color: lightgray;
}

input {
  font-family: inherit;
  font-size: inherit;
  min-width: 20em;
}

.page-container {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.8em;
}

.svg-container {
  display: inline-block;
}

.text-box {
  background-color: white;
  border: 2px darkgray solid;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  min-height: 1.6em;
}
